body {
  margin: 0;
  font-family: 'Funnel Display', sans-serif;
  background: #F5F5F5;
}

.app {
  text-align: center;
  padding-top: 20px;
}

.title {
  color: #213B2A;
}

.booth {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 320px;
  margin: auto;
}

.camera-wrapper {
  position: relative;
}

.camera {
  width: 100%;
  border-radius: 15px;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 60px;
  padding: 20px;
  border-radius: 20px;
}

.controls {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  background: #213B2A;
  color: white;
  border: none;
  border-radius: 10px;
}

.strip {
  width: 200px;
  margin: auto;
  background: white;
  padding: 10px;
}

.frame-wrap {
  position: relative;
  margin-bottom: 10px;
}

.frame-wrap img {
  width: 100%;
}

.frame-overlay {
  position: absolute;
  top: 0;
  left: 0;
}
